.App {
  text-align: center;
  margin: 20px;
  font-weight: 800;
  font-size: 1.2em;
}

.chunked-text {
  white-space: pre-wrap; /* Keeps whitespace and newlines */
  font-family: monospace;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
  line-height: 1.5;
}

.chunked-text span {
  padding: 5px;
  line-height: 1.8;
  font-size: 1.3rem;
  font-weight: bold;
}

textarea {
  width: 100%;
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.textArea {
  margin: 0 auto;
  width: 50%;
}

.uploadButtonArea {
  text-align: right;
}

.overlap {
  background-color: #333333;
  color: red;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info_box {
  width: 75%;
  align-items: center;
  margin: 0 auto; /* This will center the div horizontally */
  justify-content: center; /* This will center the div's content horizontally */
}

@media (max-width: 600px) {
  .slider-container {
    flex-direction: column;
  }

  .chunked-text {
    width: 80%;
  }

  textarea {
    margin: 20px;
    width: 80%;
  }

  #info_box {
    width: 85%;
    align-items: center;
    margin: 0 auto; /* This will center the div horizontally */
    justify-content: center; /* This will center the div's content horizontally */
  }
}
