.App {
  text-align: center;
  margin: 20px;
}

.chunked-text {
  white-space: pre-wrap; /* Keeps whitespace and newlines */
  font-family: monospace;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
}

textarea {
  width: 100%;
  margin-bottom: 3px;
}

.textArea {
  margin: 0 auto;
  width: 50%;
}

.uploadButtonArea {
  text-align: right;
  /* background-color: blue; */
}

.overlap {
  background-color: #90a955; /* or any other color you choose for overlaps */
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info_box {
  width: 75%;
  align-items: center;
  margin: 0 auto; /* This will center the div horizontally */
  justify-content: center; /* This will center the div's content horizontally */
}

@media (max-width: 600px) {
  .slider-container {
    flex-direction: column;
  }

  .chunked-text {
    width: 80%;
  }

  textarea {
    margin: 20px;
    width: 80%;
  }

  #info_box {
    width: 85%;
    align-items: center;
    margin: 0 auto; /* This will center the div horizontally */
    justify-content: center; /* This will center the div's content horizontally */
  }
}
